E:/IISER_Pune/Project[[:space:]]with[[:space:]]VN/my[[:space:]]code/Betti_numbers_PoreSpy/materials.zip filter=lfs diff=lfs merge=lfs -text
C:UsersHeerakDownloadsmaterials.zip filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
